Repository openrewrite/rewrite-migrate-java, pull requests merged in 2025-09, with the labels that each got.

#843 Inflater deflater autoclosable
  src/main/resources/META-INF/rewrite/java-version-25.yml
  src/test/java/org/openrewrite/java/migrate/util/MigrateInflaterDeflaterToAutoCloseableTest.java
Labels: recipe, java 25+

#844 Java 25: Unused variable to underscore
  .sdkmanrc
  src/main/java/org/openrewrite/java/migrate/lang/ReplaceUnusedVariablesWithUnderscore.java
  src/main/resources/META-INF/rewrite/java-version-25.yml
  src/test/java/org/openrewrite/java/migrate/lang/ReplaceUnusedVariablesWithUnderscoreTest.java
Labels: recipe, java 25+

#848 Add recipe to migrate `System.out.print/println` to `IO.print/println`
  src/main/java/org/openrewrite/java/migrate/io/ReplaceSystemOutWithIOPrint.java
  src/main/resources/META-INF/rewrite/java-version-25.yml
  src/test/java/org/openrewrite/java/migrate/io/ReplaceSystemOutWithIOPrintTest.java
Labels: recipe

#852 Add OpenRewrite recipe for JEP 512 instance main methods
  src/main/java/org/openrewrite/java/migrate/lang/MigrateMainMethodToInstanceMain.java
  src/main/resources/META-INF/rewrite/java-version-25.yml
  src/test/java/org/openrewrite/java/migrate/lang/MigrateMainMethodToInstanceMainTest.java
Labels: recipe

#851 Run CI on Java 25
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/receive-pr.yml
Labels: github_actions
