Repository openrewrite/rewrite-migrate-java, pull requests merged in 2025-07, with the labels that each got.

#781 Do not add explicit `Record` class import if using `var` keyword
  src/main/java/org/openrewrite/java/migrate/lang/ExplicitRecordImport.java
  src/test/java/org/openrewrite/java/migrate/lang/ExplicitRecordImportTest.java
Labels: bug

#784 Correct groupId for `jakarta.annotation:jakarta.annotation-api` upgrade
  src/main/resources/META-INF/rewrite/jakarta-ee-10.yml
Labels: bug

#790 Add Bouncy Castle upgrade recipe for Java < 8
  src/main/resources/META-INF/rewrite/bouncycastle-jdk15to18.yml
  src/main/resources/META-INF/rewrite/bouncycastle-jdk18on.yml
  src/main/resources/META-INF/rewrite/java-version-7.yml
  src/test/java/org/openrewrite/java/migrate/BouncyCastleTest.java
Labels: recipe, java

#793 Let all change-to-var recipes use a created var-Identifier instead of using a JavaTemplate
  src/main/java/org/openrewrite/java/migrate/lang/var/DeclarationCheck.java
  src/main/java/org/openrewrite/java/migrate/lang/var/UseVarForGenericMethodInvocations.java
  src/main/java/org/openrewrite/java/migrate/lang/var/UseVarForGenericsConstructors.java
  src/main/java/org/openrewrite/java/migrate/lang/var/UseVarForObject.java
  src/main/java/org/openrewrite/java/migrate/lang/var/UseVarForPrimitive.java
  src/test/java/org/openrewrite/java/migrate/lang/var/UseVarForGenericMethodInvocationsTest.java
Labels: recipe

#795 Convert assigning Switch statements to Switch expressions
  src/main/java/org/openrewrite/java/migrate/lang/NullCheckAsSwitchCase.java
  src/main/java/org/openrewrite/java/migrate/lang/SwitchCaseAssignmentsToSwitchExpression.java
  src/main/java/org/openrewrite/java/migrate/lang/SwitchUtils.java
  src/main/resources/META-INF/rewrite/examples.yml
  src/main/resources/META-INF/rewrite/java-version-17.yml
  src/test/java/org/openrewrite/java/migrate/lang/SwitchCaseAssignmentsToSwitchExpressionTest.java
  src/test/java/org/openrewrite/java/migrate/lang/SwitchUtilsTest.java
Labels: recipe, java 17+

#801 Convert switch expressions to arrows where possible
  src/main/java/org/openrewrite/java/migrate/lang/SwitchCaseAssignmentsToSwitchExpression.java
  src/main/java/org/openrewrite/java/migrate/lang/SwitchExpressionYieldToArrow.java
  src/main/resources/META-INF/rewrite/examples.yml
  src/main/resources/META-INF/rewrite/java-version-17.yml
  src/test/java/org/openrewrite/java/migrate/lang/SwitchCaseAssignmentsToSwitchExpressionTest.java
  src/test/java/org/openrewrite/java/migrate/lang/SwitchExpressionYieldToArrowTest.java
Labels: recipe, java 17+

#802 Convert switch cases with returns to returned switch expression
  src/main/java/org/openrewrite/java/migrate/lang/SwitchCaseReturnsToSwitchExpression.java
  src/main/resources/META-INF/rewrite/java-version-17.yml
  src/test/java/org/openrewrite/java/migrate/lang/SwitchCaseReturnsToSwitchExpressionTest.java
Labels: recipe, java 17+

#803 `ReplaceStreamCollectWithToList` should look at return type
  src/main/java/org/openrewrite/java/migrate/util/ReplaceStreamCollectWithToList.java
  src/test/java/org/openrewrite/java/migrate/util/ReplaceStreamCollectWithToListTest.java
Labels: bug

#632 New recipe to adopt Lombok setter method names
  src/main/java/org/openrewrite/java/migrate/lombok/AdoptLombokSetterMethodNames.java
  src/main/java/org/openrewrite/java/migrate/lombok/LombokUtils.java
  src/test/java/org/openrewrite/java/migrate/lombok/AdoptLombokSetterMethodNamesTest.java
Labels: recipe, lombok
